@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #beef00;
}

.sidenav {
    width: 200px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: grey;
    border: 5px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


}

.highlight {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;



}

.navbar ul {
    list-style-type: none;


}

a {
    text-decoration: none;
    line-height: 100px;
    color: rgb(255, 0, 0);
    transition: all 5s 1s ease-in-out;
    border: 2px black dotted;

}

a:hover {
    color: rgb(25, 0, 255);
    font-size: xx-large;
    text-decoration: dotted;
    border-color: black;
}

.content {
    margin-left: 200px;
    padding: 10px;

}

.text {
    text-align: center;


}

.search-bar {
    display: flex;
    justify-content: center;
    height: 40px;

}

.h1 {
    text-align: center;
}

.SearchText {
    display: inline-flex;
    border-radius: 5px;
    text-align: center;


}

.SearchText::placeholder {
    color: red;
}